   <div class="headder-top">
      <!-- nav -->
      <nav >
        <div id="logo">
          <h1><a href="index.html">Trang Chủ</a></h1>
        </div>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop">
        <ul class="menu mt-2">
          <li class="active"><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li class="mx-lg-3 mx-md-2 my-md-0 my-1"><a routerLink="/manager" routerLinkActive="active"> Manager</a></li>
          <li><a routerLink="/product" routerLinkActive="active">Product</a></li>
          <li class="mx-lg-3 mx-md-2 my-md-0 my-1">
            <!-- First Tier Drop Down -->
            <label for="drop-2" class="toggle toogle-2">Sản phẩm <span class="fa fa-angle-down" aria-hidden="true"></span>
            </label>
            
          </li>
          <li><a routerLink="#" routerLinkActive="active">Contact</a></li>
        </ul>
      </nav>
      <!-- //nav -->
    </div>